.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  margin-top: -5vh;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.home-link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.home-link a {
  text-decoration: none;
  color: #333;
}

.profile-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.profile-image img {
  border-radius: 50%;
  width: 50vw;
  object-fit: cover;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.profile-details {
  flex-grow: 1;
  padding: 10px;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.profile-title {
  font-size: 18px;
  font-weight: bold;
}
.profile-details h2{
  font-weight: 700;
}
.profile-details h3{
  font-weight: 700;
}
.edit-button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.organization-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-label {
  font-weight: bold;
}

.contact-value {
  font-size: 14px;
}

.projects-involved {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projects-label {
  font-weight: bold;
}

.projects-involved ul {
  list-style-type: disc;
  margin-left: 20px;
}

.learn-more-button {
  /* background-color: #008CBA; */
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.individual-profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.profile-actions button {
  background-color: #4CAF50;
  /* background-color: #007BFF; */
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-actions button:hover {
  background-color: #275829;
}

@media (max-width: 768px) {

  .profile-card {
    flex-direction: column;
  }
  .profile-image img {
    border-radius: 50%;
    width: 20vw;
    object-fit: cover;
  }

  .profile-image {
    margin-right: 0;
    margin-bottom: 20px;
  }
}